<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- ONE WAY SIGNS -->
  <node
        name  = "ONEWAY_J"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/oneway_sign/model.sdf -sdf -model ONEWAY_J -x 3.7808 -y 5.636 -z 0.078998 -R 0 -P 0 -Y 1.570796"/>

  <node
        name  = "ONEWAY_B"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/oneway_sign/model.sdf -sdf -model ONEWAY_B -x 2.9199 -y 5.636 -z 0.078998 -R 0 -P 0 -Y 1.570796"/>

</launch>
