<?xml version="1.0" encoding="UTF-8"?>

<launch> 
  
  <!-- PEDESTRIAN OBSTACLES -->
  <node
        name  = "PED_OBJ_KL"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_KL -x 7.4629 -y 12.241800 -z 0 -R 0 -P 0 -Y 3.141591"/>

  <node
        name  = "PED_OBJ_MN"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_MN -x 6.9379 -y 14.08227 -z 0 -R 0 -P 0 -Y 3.141591"/>
	
  <node
        name  = "PED_OBJ_AD_H"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_AD_H -x 0.599 -y 3.2459 -z 0 -R 0 -P 0 -Y 4.712391"/>


</launch>
