<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <node
        name  = "tltalker"
        pkg   = "traffic_light_pkg"
        type  = "tl_talker.py"
  />
  <!-- TRAFFIC LIGHTS -->
  <node
        name  = "TL0"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model TL0 -x 1.132 -y -14.403 -z 0 -R 0 -P 0 -Y 4.712388"/>

  <node
        name  = "TL1"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model TL1 -x 2.030 -y -11.132 -z 0 -R 0 -P 0 -Y 3.141592"/>

  <node
        name  = "TL2"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model TL2 -x 3.744 -y -10.140 -z 0 -R 0 -P 0 -Y 0"/>
  
  <node
        name  = "TL3"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model TL3 -x 3.347 -y -11.483 -z 0 -R 0 -P 0 -Y 4.712388"/>

</launch>
