<?xml version="1.0" encoding="UTF-8"?>
 
  <launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(find sim_pkg)/worlds/world_with_separators.world"/>
    <arg name="paused"       value="false"/>    
    <arg name="use_sim_time" value="true"/>
    <arg name="debug"        value="false"/>
    <arg name="gui"          value="false"/>
  </include>
 
  <node pkg="sim_pkg" type="delay.sh" args="5 sim_pkg car_rec.launch" name="car_rec" output="screen"/>
  </launch>
