<?xml version="1.0" encoding="UTF-8"?>
 
  <launch>
 
    <node
          name  = "rcCar"
    	    pkg   = "gazebo_ros"
    	    type  = "spawn_model"
	    args  = "-file $(find models_pkg)/rcCar_assembly_REC/model.sdf -model automobile -sdf -x 0.82 -y -14.91 -z 0.032939 -Y 1.570796"/>
 
  </launch>
