<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- CROSSWALK SIGNS -->
  <node
		name  = "CWALK_K"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_K -x 7.312 -y -3.240 -z 0.078998 -R 0  -P 0  -Y 3.141592"/>

  <node
		name  = "CWALK_L"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_L -x 6.627 -y -4.181 -z 0.078998 -R 0  -P 0  -Y 0"/>

  <node
		name  = "CWALK_M"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_M -x 6.777 -y -1.456 -z 0.078998 -R 0  -P 0  -Y 3.141592"/>

  <node
		name  = "CWALK_N"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_N -x 6.130 -y -2.342 -z 0.078998 -R 0  -P 0  -Y 0"/>

  <node
		name  = "CWALK_O"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_O -x 1.109 -y -12.486 -z 0.078998 -R 0  -P 0  -Y 1.570796"/>

  <node
		name  = "CWALK_P"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_P -x 0.195 -y -11.869 -z 0.078998 -R 0  -P 0  -Y 4.712388"/>

</launch>
