<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- NOT ALLOWED SIGNS -->
  <node
      name  = "DENY_V"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/prohibited_sign/model.sdf -sdf -model DENY_V -x 3.323 -y -7.581 -z 0.078998 -R 0  -P 0  -Y 4.712388"/>

  <node
      name  = "DENY_X"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/prohibited_sign/model.sdf -sdf -model DENY_X -x 2.387 -y -7.581 -z 0.078998 -R 0  -P 0  -Y 4.712388"/>

  <node
      name  = "DENY_G"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/prohibited_sign/model.sdf -sdf -model DENY_G -x 11.578 -y -4.504 -z 0.078998 -R 0  -P 0  -Y 4.712388"/>

</launch>
