<?xml version="1.0" ?>
<model>
    <name>[Traffic Sign] |priority|</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>MAR</name>
        <email></email>
    </author>
    <description>
	The model is made up by a traffic sign support and a rectangular traffic sign plate.
	+ texture
    </description>
</model>
